<!DOCTYPE html>
<meta charset="utf-8" />
<head>
	<title></title>
	<link rel="stylesheet" href="../../../styles/variables.css" />
	<link rel="stylesheet" href="./style.css" />
	<style>
		#root {
			--chart-column-color: var(--yellow);
		}
	</style>
</head>
<body>
	<div id="root"></div>

	<script type="module">
		import { ColumnChart } from './index.js';

		const сolumnChart = new ColumnChart({
			data: [1, 2, 3, 4, 3, 50, 22.2],
			label: 'Test'
		});

		сolumnChart.render();

		root.append(сolumnChart.element);

		window.сolumnChart = сolumnChart;
	</script>
</body>
